@tailwind base;
@tailwind components;
@tailwind utilities;

/** The less we use this global style the better! */


body {
  background-color: black;
  color: white;
}


.wallet-full button {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
}
